<div class='container-fluid'>
  <div class='col-md-12'>
    <h1>Artikel</h1>
  </div>
  <div class='col-md-12'>
    <table class='table-hover'>
    <% @articles.each do |article| %>
      <tr class='col-md-12'>
        <td class='col-md-8'><%= link_to article.name, "https://www.amazon.de/dp/#{article.asin}" %></td>
        <td class='col-md-2'><%= humanized_money_with_symbol(article.last_stored_price) %></td>
        <td class='col-md-2'><%= link_to article, method: :delete do %>
                               <%= fa_icon 'trash' %>
                             <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class='container-fluid'>
  <%= link_to 'Neuen Artikel hinzufügen', new_article_path, class: 'btn btn-primary' %>
</div>
